%h3 To administer your application, please use the appropriate link you received by e-mail. If you cannot find the link, or you want to create a new account, please fill in your e-mail in this form.

= semantic_form_for @user do |f|
  = f.inputs :email
  = f.actions :submit
